<div class="container-fluid">
  <div class="col-12 col-md-8 col-lg-6 col-xl-10 mx-auto mt-3">
    <h2>DM一覧</h2>
    <table class="table text-center">
      <tr>
        <th>ユーザー名</th>
        <th></th>
      </tr>
      <% @rooms.each do |room| %>
      <% partner = (room.users.where.not(id: current_user.id).to_a)[0] %>
        <tr>
          <td><%= partner.name %></td>
          <td><%= link_to "ダイレクトメッセージを送る", public_room_messages_path(room), class: "btn btn-success me-3" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>