<div class="container-fluid">
  <div class="col-12 col-md-8 col-lg-6 col-xl-10 mx-auto mt-3 text-center">
    <h2>LOLフレについて</h2>
    LOLフレはRiot Gamesの提供するMOBA「League of Legends」のフレンドを簡単に見つけることのできるフレンド募集サイトです。<br />
    ランクや募集目的(ランク仲間がほしい、ノーマルで遊びたいなど)、得意レーンや苦手レーンなどの検索条件を指定して、条件にあったフレンドを見つけることができます！<br />
     <%= image_tag asset_path("about.png"), class: "img-fluid rounded-3 border border-3 border-dark mt-3 mb-3", :width => '40%', :height => '40%' %><br />
    フレンド検索やコミュニティーボードの閲覧は会員登録なしで誰でもすぐに利用することができます。　<%= link_to "さっそくフレンドを探す" , public_friends_path %><br />

    メールアドレスのみで簡単にできる会員登録を行うと、フレンド募集への投稿やコミュニティーボードへの投稿、ダイレクトメッセージ機能が使用できるようになります。<br />
    <%= image_tag asset_path("about2.png"), class: "img-fluid rounded-3 border border-3 border-dark mt-3 mb-3" %><br />
    フレンド募集へ投稿してより多くのフレンドを探したり、サモナーネームを全体に公開したくない場合はダイレクトメッセージ機能を利用してサモナーネームを交換してみましょう。　<%= link_to "登録する", new_user_registration_path %>
  </div>
</div>