<% if friend.vc_discord == true %><i class="fab fa-discord me-1" style="color: #5865F2;"></i><span class="me-2">Discord</span><% end %>
<% if friend.vc_skype == true %><i class="fab fa-skype me-1" style="color: #00aff0;"></i><span class="me-2">Skype</span><% end %>
<% if friend.vc_leaguevoice == true %><i class="fas fa-microphone me-1"></i><span class="me-2">リーグボイス</span><% end %>