<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">

        <li class="nav-item">
          <%= link_to "フレンド募集", public_friends_path, class: "nav-link text-muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "コミュニティーボード", public_boards_path, class: "nav-link text-muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "サークル", public_clubs_path, class: "nav-link text-muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "お問い合わせ", new_public_contact_path, class: "nav-link text-muted" %>
        </li>

    </ul>
    <p class="text-center text-muted">
      LOLフレは、ライアットゲームズが公式承認するものではなく、ライアットゲームズ又はリーグ・オブレジェンドの製作・管理に正式に関与したいかなる者の見解・意見に基づくものではありません。<br />
      リーグ・オブ・レジェンド及びライアットゲームズは、Riot Games,Incの商標または登録商標です。　リーグ・オブ・レジェンド &copy; Riot Games, Inc <br />
      &copy; 2022 LOLフレ
    </p>
  </footer>
</div>